
html {
    height: 100% !important;
	background-image: url("../images/bg.jpg");
	background-repeat: repeat;
}

#container-padding { 
 	padding: 10px;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
	background-color: #fff !important;
}
