
html {
    height: 100% !important;
	background-image: url("../images/bg.jpg");
	background-repeat: repeat;
	padding: 10px;
}

body { 
	text-align: center;
	
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
	background-color: #fff !important;
}
